@import "tailwindcss";

@theme{
  /*Colors*/
  --color-main-bg: #1f305b;
  --color-main-purple: #3c4296;
  --color-main-purple-soft: #5F64B8;
  --color-main-cyan: #5edbd3;
  --color-main-sky-blue: #3fa9f5;
  --color-navbar: #132042;
  /*Animations*/
  --anymate-typing: typing 2.5s steps(40,end) forwards, blink .75s step-end 4;
  --anymate-typing-last: typing 2.5s steps(40,end) forwards, blink .75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
    color: white; 
    border-color: white; 
  }
  to {
    width: 100%;
    color: white;
    border-color: transparent; 
  }
}
@keyframes blink {
  from, to {border-color: transparent}
  50% {border-color: white}
}

.terminal-text{
  color: transparent;
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  letter-spacing: 0.1em;
  animation: var(--anymate-typing);
}
.terminal-text-end{
  animation: var(--anymate-typing-last);
}

:root {
  --background: #1f305b;
  --textmaincolor: #fff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f305b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--textmaincolor);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer utilities {
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
}
