@import "tailwindcss";

@theme{
  --color-main-div: #3c4296;
}
:root {
  --background: #1f305b;
  --textmaincolor: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--textmaincolor);
  font-family: Arial, Helvetica, sans-serif;
}
